@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%; }

.App {
  text-align: center; }

.App-logo {
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5em; }

.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: arial; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 385px;
  margin: 1rem 0.5rem; }

img {
  margin: 0.1rem; }

.price {
  color: grey;
  font-size: 22px; }

.salePrice {
  color: red; }

.product-button {
  margin-bottom: auto;
  padding: 0.8rem 1rem;
  width: 100%;
  border: none;
  border-radius: 15px;
  outline: 0;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: #56CCF2;
  color: #fff; }

.container button:hover {
  opacity: 0.7; }

.content-section {
  margin: 1em; }

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer; }

.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold; }

.btn-primary:hover .product-button:hover {
  background-color: #2D9CDB; }

path {
  fill: red;
  cursor: pointer; }

.delete-icon {
  color: red;
  margin-left: 1em; }

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333; }

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px; }

.cart-row {
  display: flex; }

.cart-item {
  width: 45%; }

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333; }

.cart-quantity {
  width: 35%; }

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em; }

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px; }

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px; }

.cart-row:last-child {
  border-bottom: 1px solid black; }

.cart-row:last-child .cart-column {
  border: none; }

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px; }

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px; }

.cart-total-price {
  color: #333;
  font-size: 1.1em; }

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em; }

.main-footer {
  background-color: #56CCF2;
  color: white;
  padding: .25em 0; }

@media only screen and (max-width: 516px) {
  .cart-item {
    flex-direction: column; }
  .cart-quantity-input {
    margin-right: 0; }
  .cart-item-image {
    width: 60px; }
  .cart-item-title {
    font-size: 0.9em; } }
